.report-text1{padding:3px 5px 3px 5px; border-bottom:#CCCCCC 1px solid; word-break:keep-all; border-right:#CCCCCC 1px solid; line-height:17px;text-overflow:ellipsis; color:#515151;height:22px;} 
.report-box{border-top:#CCCCCC 1px solid; border-left:#CCCCCC 1px solid;}
.CCS_popupsPath{background:url(../images/path_03.gif) repeat-x; height:27px; text-align:left; color:#055D95; line-height:27px; }
.CCS_popupsPathTd{font-size:12px; font-weight:bold; padding-left:30px;}
.report-table{border:#CCCCCC 1px solid;}
.report-title{background:#E5EEFF; border-bottom:#CCCCCC 1px solid; border-right:#CCCCCC 1px solid; text-align:center; display:block; color:#515151; line-height:17px; font-weight:bold; padding:3px 5px 0px 5px; height:25px;}
.ccsButton{font-family: "ו"; font-size: 12px; color: #333366; height: 22px; background-image: url(../images/btn_bg.gif); border: 1px #13ADDA solid}
.r16pxbb{font-family: Arial, Helvetica, sans-serif;	font-size: 16px;line-height: 18px;font-weight: bold;color: #5f0608;text-decoration: none;}
.h12px14{font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 14px;color: #828282;padding-right: 10px;padding-left: 10px;}
.text1 {font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 26px;color: #444343;	text-decoration: none;	}

