BODY {
    font-size : 100%;
}
BODY, TD, TH {
    font-family : tahoma, arial, helvetica, sans-serif;
    font-size : 0.8em;
}
A {
    color : #00f;
}
A:visited {
    color : #00f;
}
A:hover {
    color : #f00;
    text-decoration : none;
}
PRE, TT {
    font-size : 1.0em;
    font-family : courier new, monospaced;
}

/* errors */
.jive-error-text {
    color : #f00;
}

/* success */
.jive-success-text {
    color : #090;
}

/* tabs */
.jive-selected-tab {
    border-width : 1px 1px 0px 1px;
    background-color : #fff;
}
.jive-tab {
    border-width : 1px 1px 1px 1px;
}
.jive-tab-spacer, .jive-tab-spring {
    border-width : 0px 0px 1px 0px;
}
.jive-tab-bar {
    background-color : #fff;
    border-width : 0px 1px 1px 1px;
}
.jive-selected-tab, .jive-tab, .jive-tab-spacer, .jive-tab-spring, .jive-tab-bar
{
    border-color : #bbb;
    border-style : solid;
}
/* tab colors, spacings, fonts */
.jive-tab, .jive-selected-tab {
    padding : 4px 10px 4px 10px;
    font-family : tahoma;
    font-size : 0.7em;
}
.jive-selected-tab A {
    color : #000 !important;
    text-decoration : none;
    font-weight : bold;
}
.jive-tab A {
    color : #333 !important;
    text-decoration : none;
    font-weight : bold;
}
.jive-tab A:hover, .jive-selected-tab A:hover {
    text-decoration : underline;
}
.jive-tab {
    /* background-color : #ddd; */
    background-color : #E8E8DE;
}
.jive-tab-bar TD {
    font-family : tahoma;
    font-weight : bold;
}
.jive-tab-bar A {
    color : #000;
    text-decoration : none;
}
.jive-tab-bar A:hover {
    text-decoration : underline;
}
.jive-tab-section TD {
    font-weight : normal;
    font-family : verdana;
    font-size : 0.7em;
}
.jive-tab-section A {
    color : #333 !important;
    padding-right : 6px;
    font-weight : normal;
}
.jive-tab-spring {
    font-size : 0.7em;
}
.jive-tab-logout {
    font-size : 0.7em;
}

/* sidebar */
.jive-admin-sidebar-header {
    font-weight : bold;
}

/* page titles */
.jive-admin-page-title TD {
    font-family : tahoma, arial, helvetica, sans-serif;
    font-size : 1.0em;
    font-weight : bold;
}
.jive-admin-page-title TABLE {
    margin-top : 5px;
    border-bottom : 1px #ccc solid;
}

/* tables */
.jive-table TABLE {
    border : 1px #ccc solid;
}
.jive-table TH {
    background-color : #ddd;
    color : #000;
    font-size : 0.7em;
    font-weight : bold;
    border-bottom : 1px #bbb solid;
}
.jive-description {
    font-family : verdana;
    font-size : 0.8em;
}
.jive-table .odd {
}
.jive-table .even TD {
    background-color : #eee;

}
.jive-label {
    background-color : #eee;
    padding-right : 10px;
}

/* breadcrumbs */
.jive-breadcrumbs {
    font-size : 0.7em;
    font-weight : bold;
    font-family : tahoma;
}
.jive-breadcrumbs A {
    color : #000 !important;
    text-decoration : none;
}
.jive-breadcrumbs A:hover {
    text-decoration : underline;
}

/* sidebar */
.sidebar-group TH {
    padding-left : 10px;
    font-weight : bold;
    text-align : left;
}
.sidebar-group .bullet {
    padding-left : 10px;
    text-align : right;
    vertical-align : top;
    width : 1%;
}