<!DOCTYPE html>
<html ng-app="app" ng-controller="myCtrl2" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>支付成功</title>
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <link rel="stylesheet" type="text/css" href="./css/layer.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>
<body>

    <div class="paySuccess">
    
       <div class="fenxiang">支付成功，点击右上角分享到朋友圈</div>
       <div class="payMsg">
            
       </div>
    </div>


</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/rem.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script >
	   
	   var urlStr = window.location.href;
	   var indexNum = urlStr.indexOf("=");
	   var orderId = urlStr.slice(indexNum+1);
	   
		var payPrice = $.cookie("payPrice");
		var payTime = $.cookie("datestr");
		var orderNo = "";
		//获取订单号
		$.ajax({
                url: "/expressage_api/rbac/sys/expressageOrder/getOrdersByUser",//根据type获取订单
                type:"post",
                async:false,
 	             data: {
 	            	channel:"wx",
 	            	pageNo:0,
 	            	pageSize:10,
 	            	type:4,//1待抢单2待付款3待签收4完成
 	             }, 
                  success:function(data){
                	  data = JSON.parse(data)
                  	   console.log(data)
                      if(data.code == "000000"){
                   		for(var i =0; i < data.response.length; i++){
                   			var item =  data.response[i];
                   			if(item.orderId==orderId){
                   				 orderNo = item.orderNo;
                   				 break;
                   			}
                   		}
                   		
                   		var htmlStr = "";
                   		htmlStr += '<div>支付金额：'+payPrice+' </div>';
                   		htmlStr += '<div>订单号： '+orderNo+'</div>'
                   	    htmlStr += '<div>支付时间：'+payTime+'</div>'
                   		$(".payMsg").html(htmlStr);
                   		
                      }else if(data.code == "100022"){
                       	window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb29f8c9e9415156f&redirect_uri=http://www.kuaidikd.com/expressage_api/code/login.html&response_type=code&scope=snsapi_base&state=1#wechat_redirect";
                      }else{
                      		layer.msg(data.message)
                      }
                  },
                  error:function(){
                  	
                  }
              });
		

wx.ready(function(){    
    // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口  
    wx.onMenuShareTimeline({  
        title: '快递快滴',  
        desc: '进入快递快滴，惊喜不断',  
        link: url,  
        imgUrl: '',  
        trigger: function (res) {  
          //alert('用户点击分享到朋友圈');  
        },  
        success: function (res) {  
          //分享成功的回调
       	 $.ajax({
                url: "/expressage_api/rbac/sys/expressageUser/setFavorable",//生成优惠券
                type:"post",
                async:false,
 	             data:{
 	            	orderId:orderId
 	             }, 
 	             before:function(){
 	             },
                  success:function(data){
                	  data = JSON.parse(data)
                      if(data.code == "000000"){
                    	
                      }else if(data.code == "100022"){
                       	window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb29f8c9e9415156f&redirect_uri=http://www.kuaidikd.com/expressage_api/code/login.html&response_type=code&scope=snsapi_base&state=1#wechat_redirect";
                      }else{
                      		
                      }
                  }
              }); 
        },  
        cancel: function (res) {  
          alert('已取消');  
        },  
        fail: function (res) {  
          alert("失败");  
        }  
  });  
  wx.error(function (res) {  
         //alert(res.errMsg); 
         //alert("调用接口错误")
     });  
 });   



</script>
</html>